.skills {
    /*justify-content: space-around;*/
    /*height: 100vh;*/
    /*align-items: center;*/
    padding: 110px 0;
    height: 100vh;
}

.skillsBG {
    background-color: #222222;
    /*background-color: rgba(34, 34, 34, 0.62);*/
    background-color: rgba(34, 34, 34, 0.05);
}

.skillsStudiesTitle {
    font-size: 30px;
    color: #c6a57a;
}

.skillsBGNight {
    background: #4b4b4b;
}
