.btn{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgb(225, 225, 225);
    color: rgba(198, 165, 122, 0.6);
    width: 50px;
    height: 50px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 30px rgb(0 0 0 / 15%);
    font-size: 30px;
    cursor: pointer;
    outline: none;
}

.btn span::before{
    content: "⇧";
}

.btn:hover{
    background: #c6a57a;
    color: rgb(229,230,230);
    transform: translateY(-5px);
}
