.bellotaFont {
    font-family: 'Bellota Text', cursive;
}

.montserratFont {
    font-family: 'Montserrat', sans-serif;
}

.openSansFont {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}

h2 {
    font-weight: bolder;
    font-size: 40px;
    color: #c6a57a;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 1px 1px 1px #83704a;
}

a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}



.textCenter {
    text-align: center;
}

.container {

    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}



/*Animation & backgroung*/

body {
    /*font-family: 'Bellota Text', cursive;*/
    box-sizing: border-box;
}
.containerFluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
}
/* ============= Animation background ========= */
.background {
    background: linear-gradient(132deg, #fcc141, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0;
}
.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
    border-color: #FFF ;
}
.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}
.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}
/* ================= Header ============ */
header{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    margin: 0;
    padding: 0;
}

/* Logo */
.logo{
    width: 35px;
    height: 35px;
    background: #EFEEF5;
    margin: 40px 63px;
    float: left;
    transform: rotate(-30deg);
}
.logo span{
    color: #591BC5;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
}
/* Header content & title & button*/
.headerContent{
    margin-top:20%;
    text-align: center;
    color:  #EFEEF5;
}
.headerContent h1{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
}
.headerContent p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
}

/* Animate Background*/
@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.backgroundNight {
    background: linear-gradient(132deg, rgba(148, 117, 58, 0.51), rgb(75, 75, 75), rgb(23, 23, 23));
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
}